* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  width: 200px;
  padding: 15px;
  color: white;
  background-color: grey;
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.btn:hover > .under-nav {
  display: block;
}
.under-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: grey;
  width: 100%;
  height: 100%;
}
.under-nav > .btn {
  border-left: 1px solid white;
}