@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febb41;
  font-family: "Poppins";
  width: 100%;
  height: 100%;
  margin-top: 40px;
  
}
.container{
   width: 80%;
   height: 90%;
   padding:35px 60px ;
   background: rgb(238, 235, 235);
  
}
.menu {
display: flex;
align-items: center;
justify-content: space-between; 
width: 100%; 


}
.logo{

    width: 170px;
}
.logopng {
  width: 35%;
  height: 45%;
}
.navigation{
    flex: 1;
    display: flex;
    justify-content: center;
}
.navigation ul{
display: flex;
text-decoration: none;
gap: 60px;
justify-content: center;
list-style: none;
width:100%;

}
.navigation a{
    text-decoration: none;
    color: black;
}
.search_icon {
  margin-left: 100px;
}
.search_icon img {
width: 40%;
height: auto;


}
.burger{
  display: none;
  width: 20px;
  height: 20px;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.content{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-top: 100px;
    
}
.Food{
display: flex;
gap: 10px;


}
.Fast{
    display: flex;
    font-size: 80px;
    color: #f5ac24;
    font-weight: bold;
}
.Food_del{
    display: flex;
    font-size: 40px;
    color: black;
    font-weight: bold;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 17px;

   


}
.description{
color:  rgba(0, 0, 0, 0.6);
}
.order_group{
display: flex;
gap: 20px;
align-items: center;


}
.order_now{

background-color: black;
border-radius: 30px;
border-color: black;
text-align: center;
width: 150px;
height: 60px;
color: white;
margin-top: 20px;
padding: 20px;
gap: 20px;
}
.video_circe{
  display: flex;
  align-items: center;
  gap: 15px;

}
.logo_arrow{
    display: flex;
    gap: 30px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-color: rgb(180, 178, 178);
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    
    
}
.logo_arrow img{
  width: 15px;
  height: 15px;
  object-fit: contain;
}


.Watch{
  font-weight: 600;  
  margin-top: 15px;
}
.star_group{
    display: flex;
    margin-top: 50px;
}
.star_rating{
    display: flex;
    font-weight: 600;
}
.based{
  color:  rgba(0, 0, 0, 0.6);  
}
.image-background {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  
}
.image-background img{

 width: 80%; 
 max-width: 500px;
 height: auto;

 
   
}

.burger:hover > .burger_menu{
  display: block;




}
.burger_menu{
 display: none;
  position: absolute;
  top: 20px;
  left: 100%;
  width: 100%;
  height: 100%;
  
}
.burger_menu a{
color: black;
text-decoration: none;


}
@media (max-width: 800px){
.search_icon img {
width: 90%;
height: auto;
}
.image-background {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  
}
.image-background img{
 width: 90%; 
 max-width: 500px;
 height: auto;
}



}




@media (max-width: 600px) {

.logopng {
  width: 70%;
  height: 70%;
}
.navigation{
    flex: 1;
    display: flex;
    justify-content: center;
}
.navigation ul{
display: none;
text-decoration: none;
gap: 60px;
justify-content: center;
list-style: none;
width:100%;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.search_icon {
  margin-left: auto;
}
.search_icon img {
width: 70%;
height: 70%;


}
.burger {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
}
.burger ul{
display: none;
text-decoration: none;
position: absolute;
width: 50px;

}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.content{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-top: 100px;
    
}
.Food{
display: flex;
gap: 10px;


}
.Fast{
    display: flex;
    font-size: 80px;
    color: #f5ac24;
    font-weight: bold;
}
.Food_del{
    display: flex;
    font-size: 40px;
    color: black;
    font-weight: bold;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 17px;

   


}
.description{
color:  rgba(0, 0, 0, 0.6);
}
.order_group{
display: flex;
gap: 20px;
align-items: center;


}
.order_now{

background-color: black;
border-radius: 30px;
border-color: black;
text-align: center;
width: 150px;
height: 60px;
color: white;
margin-top: 20px;
padding: 20px;
gap: 20px;
}
.video_circe{
  display: flex;
  align-items: center;
  gap: 15px;

}
.logo_arrow{
    display: flex;
    gap: 30px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-color: rgb(180, 178, 178);
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    
    
}
.logo_arrow img{
  width: 15px;
  height: 15px;
  object-fit: contain;
}


.Watch{
  font-weight: 600;  
  margin-top: 15px;
}
.star_group{
    display: flex;
    margin-top: 50px;
}
.star_rating{
    display: flex;
    font-weight: 600;
}
.based{
  color:  rgba(0, 0, 0, 0.6);  
}
.image-background {
  flex: 1;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  
}
.image-background img{

 width: 80%; 
 max-width: 500px;
 height: auto;
  
}
}