* {
    margin: 0;
    padding: 0;
}
 a { color: black;
     

    }
.text{
    margin: 5px;
    background-image: linear-gradient(to left, rgb(115, 197, 255), rgb(212, 237, 255));
    text-align: center;
}
h1 {

    color: rgb(218, 52, 52);
    font-style: italic;
    font-size: 100px;
    font-weight: normal;
    font-family: sans-serif;

    
}
.nav{
    
    background-image: linear-gradient(to top, rgb(115, 197, 255),  rgb(212, 237, 255));
    box-shadow: 2px 2px gray;
    font-size: 20px;
    padding: 5px;
    height: 48px;
    
 
    
}
.link {
  text-decoration: none;
  padding: 10px 40px;
  border-bottom-style: groove;
  border-right-style: ridge;
  border-radius: 3px;
  background-color:rgb(234, 246, 255);
  float: left;
  position: relative;
 
}
.menu{
    display:inline-block ;
    padding: 10px;
    list-style: none;
    
}
.link:hover {
    background-color: rgb(227, 255, 255);
    transition: 0.6s;
}
.mainbody {
    margin-top: 10px;
}

.leftblock {
    display: block;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-width: 5px;
    border-radius: 6px;
    border-right-color: rgb(203, 203, 203);
    width: 183px;
    float: left;
    background-image: linear-gradient(to top, rgb(115, 197, 255),  rgb(212, 237, 255));
}

.leftblockstyle {
    background-color:rgb(234, 246, 255);
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-color: rgb(145, 145, 145);
    border-right-width: 4px;
    border-bottom-color: rgb(145, 145, 145);
    border-bottom-width: 4px;
    border-radius: 6px;
    padding-top: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.leftblockname {
    margin-left: 26px;
    border-radius: 6px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(128, 206, 255);
}

.leftblockdata {
    margin-top: 10px;
    padding-left: 2px;
}

.rightblock {
    display: block;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-width: 5px;
    border-radius: 6px;     
    width: 250px;
    float: right;
    background-image: linear-gradient(to top, rgb(115, 197, 255),  rgb(212, 237, 255));
}

.rightblockstyle1 {
    background-color:rgb(234, 246, 255);
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-color: rgb(145, 145, 145);
    border-right-width: 4px;
    border-bottom-color: rgb(145, 145, 145);
    border-bottom-width: 4px;
    border-radius: 6px;
    padding-top: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.rightblockname {
    margin-left: 62px;
    border-radius: 6px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(128, 206, 255);
}

.rightblockd {
    margin-top: 10px;
    padding-left: 2px;
}

.rightblockstyle2 {
    background-color:rgb(234, 246, 255);
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-color: rgb(145, 145, 145);
    border-right-width: 4px;
    border-bottom-color: rgb(145, 145, 145);
    border-bottom-width: 4px;
    border-radius: 6px;
    padding-top: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.rightblockd2 {
    margin-top: 10px;
    padding-left: 17px;
    margin-right: 3px;
}
.mainblock {
    display: block;
    border-bottom-style: groove;
    border-right-style: groove;
    border-right-width: 5px;
    border-radius: 6px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgb(115, 197, 255),  rgb(212, 237, 255));
}
.images {
    margin-top: 20px;
    margin-left: 20px;
    height: 160px;
    display: block;
}

.base {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.layer {
    position: absolute;
    top: 80%;
    left: -100%;
    text-align: center;
    width: 80%;
    height: 10%;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 49, 49, 0.762);
}

.base:hover .layer {
    left: 20px;
}
