* {
    margin: 0;
    padding: 0;
}
 a { color: black;
     

    }
.text{
    margin: 5px;
    background-image: linear-gradient(to left, rgb(115, 197, 255), rgb(212, 237, 255));
    text-align: center;
}
h1 {

    color: rgb(218, 52, 52);
    font-style: italic;
    font-size: 100px;
    font-weight: normal;
    font-family: sans-serif;

    
}
.nav{
    
    background-image: linear-gradient(to top, rgb(115, 197, 255),  rgb(212, 237, 255));
    box-shadow: 2px 2px gray;
    font-size: 20px;
    padding: 5px;
    height: 48px;
    
 
    
}
.link {
  text-decoration: none;
  padding: 10px 40px;
  border-bottom-style: groove;
  border-right-style: ridge;
  border-radius: 3px;
  background-color:rgb(234, 246, 255);
  float: left;
  
 
}
.menu{
    display:inline-block ;
    padding: 10px;
    list-style: none;
    
}
